MyRedPillConsumer/Service References/MyRedPillServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyRedPillService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://KnockKnock.readify.net" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyRedPillService_WhatIsYourToken_InputMessage">
    <wsdl:part xmlns:q1="http://KnockKnock.readify.net" name="parameters" element="q1:WhatIsYourToken" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_WhatIsYourToken_OutputMessage">
    <wsdl:part xmlns:q2="http://KnockKnock.readify.net" name="parameters" element="q2:WhatIsYourTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_FibonacciNumber_InputMessage">
    <wsdl:part xmlns:q3="http://KnockKnock.readify.net" name="parameters" element="q3:FibonacciNumber" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_FibonacciNumber_OutputMessage">
    <wsdl:part xmlns:q4="http://KnockKnock.readify.net" name="parameters" element="q4:FibonacciNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_FibonacciNumber_ArgumentOutOfRangeException_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:ArgumentOutOfRangeException" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_WhatShapeIsThis_InputMessage">
    <wsdl:part xmlns:q6="http://KnockKnock.readify.net" name="parameters" element="q6:WhatShapeIsThis" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_WhatShapeIsThis_OutputMessage">
    <wsdl:part xmlns:q7="http://KnockKnock.readify.net" name="parameters" element="q7:WhatShapeIsThisResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_ReverseWords_InputMessage">
    <wsdl:part xmlns:q8="http://KnockKnock.readify.net" name="parameters" element="q8:ReverseWords" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_ReverseWords_OutputMessage">
    <wsdl:part xmlns:q9="http://KnockKnock.readify.net" name="parameters" element="q9:ReverseWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRedPillService_ReverseWords_ArgumentNullException_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/System" name="detail" element="q10:ArgumentNullException" />
  </wsdl:message>
  <wsdl:portType name="IMyRedPillService">
    <wsdl:operation name="WhatIsYourToken">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatIsYourToken" message="tns:IMyRedPillService_WhatIsYourToken_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatIsYourTokenResponse" message="tns:IMyRedPillService_WhatIsYourToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciNumber">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumber" message="tns:IMyRedPillService_FibonacciNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumberResponse" message="tns:IMyRedPillService_FibonacciNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumberArgumentOutOfRangeExceptionFault" name="ArgumentOutOfRangeException" message="tns:IMyRedPillService_FibonacciNumber_ArgumentOutOfRangeException_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhatShapeIsThis">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatShapeIsThis" message="tns:IMyRedPillService_WhatShapeIsThis_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatShapeIsThisResponse" message="tns:IMyRedPillService_WhatShapeIsThis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWords" message="tns:IMyRedPillService_ReverseWords_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWordsResponse" message="tns:IMyRedPillService_ReverseWords_OutputMessage" />
      <wsdl:fault wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWordsArgumentNullExceptionFault" name="ArgumentNullException" message="tns:IMyRedPillService_ReverseWords_ArgumentNullException_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyRedPillService" type="tns:IMyRedPillService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WhatIsYourToken">
      <soap:operation soapAction="http://KnockKnock.readify.net/IRedPill/WhatIsYourToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciNumber">
      <soap:operation soapAction="http://KnockKnock.readify.net/IRedPill/FibonacciNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentOutOfRangeException">
        <soap:fault use="literal" name="ArgumentOutOfRangeException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WhatShapeIsThis">
      <soap:operation soapAction="http://KnockKnock.readify.net/IRedPill/WhatShapeIsThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <soap:operation soapAction="http://KnockKnock.readify.net/IRedPill/ReverseWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullException">
        <soap:fault use="literal" name="ArgumentNullException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyRedPillService">
    <wsdl:port name="BasicHttpBinding_IMyRedPillService" binding="tns:BasicHttpBinding_IMyRedPillService">
      <soap:address location="http://localhost:8000/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>